.citas{
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    overflow: scroll;
    max-height: 445px;
    min-width: 200px;

    h2{
        font-size: 35px;
        justify-content: center;
    }
}                                                                              