.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;


  .alerta-error {
    color: red;
    text-transform: uppercase;
    font-weight: 700;
    align-self: center;
  }

  .input-box {

    font-size: 20px;

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    button {
      width: 100%;
    }

    h2 {
      font-size: 30px;
      text-align: center;
    }
  
  }
}
